footer{
    width: 100%;
    padding: 30px 0;
    text-align: center;
    background: rgb(27, 27, 27);
    .container{
        span{
            font-size: .9rem;
            color: #ccc;
            text-transform: uppercase;
        }
    }
}